---
layout: default
title: Categories
permalink: /category/
---
<div id="red">
	<div class="container">
		<h2>Categories</h2>
	</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">

        <! -- BLOG POSTS LIST -->
        {% for category in site.categories %}

                <a class="anchor" id="{{ category.first }}"></a><h4>{{ category.first | capitalize }}</h4>
                    <div class="hline"></div>
                    <ul class="popular-posts">
                        {% for post in site.categories[category.first] %}

                            
                                <p><a href="{{ post.url  | prepend: site.baseurl }}" ></a></p>
                                <p><a href="{{ post.url }}">∙ {{ post.title }}</a></p>
                                <csmall><em>&nbsp;&nbsp;&nbsp;&nbsp;Posted on {{ post.date | date_to_string }} <span class="disqus-comment-count" data-disqus-url="http://nickthompson.guru{{ post.url }}"></span></em></csmall>
                            
               
            {% endfor %}
                                                </ul>


        {% endfor %}
        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->