<nav class="navbar navbar-default navbar-fixed-top">
	<div  class="container-fluid">
		<!-- Nav Collapse Mobile -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<a {% if page.title == "Home" %}class="navbar-brand" id="brand-home"{% else %}class="navbar-brand"{% endif %}href="/"><b>nick</b>thompson</a>
		</div>
		
		<!-- Navbar Links -->
		<div class="navbar-collapse collapse navbar-right">
			<ul class="nav navbar-nav">
        		<li {% if page.title == "About Me" %}class="active"{% endif %}><a href="/about/">ABOUT</a></li>
        		<li {% if page.title == "Computer Help & Services" %}class="dropdown active"{% else %}class=dropdown{% endif %}>
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">COMPUTER HELP <span class="caret"></span></a>
        			<ul class="dropdown-menu" role="menu">
        				<li><a href="/help/">SERVICES</a></li>
           				<li><a href="/help/#pricing">PRICING</a></li>
            			<li><a href="/help/#utilities">UTILITIES</a></li>
            		</ul>
        		</li>
        		<li {% if page.title == "Portfolio" %}class="dropdown active"{% else %}class=dropdown{% endif %}>
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PORTFOLIO <span class="caret"></span></a>
        			<ul class="dropdown-menu" role="menu">
        				<li><a href="/portfolio/">MY WORK</a></li>
           				<li><a href="/portfolio/#freelance">FREELANCE JOBS</a></li>
            		</ul>
        		</li>
        		<li {% if page.title == "Developer" %}class="dropdown active"{% else %}class=dropdown{% endif %}>
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">DEVELOPER <span class="caret"></span></a>
        			<ul class="dropdown-menu" role="menu">
        				<li><a href="/developer/">MY POROJECTS</a></li>
           				<li><a href="http://repo.nickthompson.guru">CYDIA REPO</a></li>
            		</ul>
        		</li>
        		<li {% if page.title == "Blog" %}class="active"{% endif %}><a href="/blog/">BLOG</a></li>
        		<li {% if page.title == "Contact" %}class="active"{% endif %}><a href="/contact/">CONTACT</a></li>
			</ul>
		</div>
	</div>
</nav>
