---
layout: default
permalink: /blog/:categories/:year/:month/:day/:title/
---
<div id="red">
	<div class="container">
		<h2>{{ page.title }}</h2>
		<csmall>{{ page.date | date: "%b %-d, %Y" }}. | {{ page.author }}</csmall>
	</div>
</div>
<div class="container">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
            <!-- 
			<p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}">
			 -->
              
            {{ content }}
            
            </br><csmall><a href="/blog/">Return to all posts.</a></csmall>
            <div class="mtb">
    			{% if page.comments %}
				{% include disqus.html %}
				{% endif %}
			</div>
        </div><! --/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->